# Gradle
.gradle/
build/

local.properties

# Android Studio / IntelliJ
.idea/
*.iml

.kotlin/

.DS_Store
Thumbs.db

# Logs
*.log

*.jks
*.keystore

google-services.json

.cxx/
externalNativeBuild/
captures/